.section_one_main{
    display:flex;
    flex-direction:column;
    gap:20px;
    .section_mainradio{
        display:flex;
        flex-direction: column;
        gap:10px; 
        .section_one_radio{
            display:flex;
            gap:10px;
        }


    }

    .section_one_btn{
        display:flex;
        justify-content:flex-start;
        margin-top:10px;
    }
}