.side {
  width: 100%;
  background-color: #f9f9f9;
  color: white;
  padding: 5px;
  display: flex;
  border-radius: 8px;
}

.side .reg_button {
  border: none;
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  gap:20px;
  svg{
    width: 50px;
    height: 20px;
  }
}

.side-toggle {
  display: none; /* Hide toggle button on larger screens */
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}


@media (max-width: 567px) {
.side {
    overflow: auto;
}
}

@media (min-width: 567px) and  (max-width: 1024px) {
.side{
    overflow: auto;
}
}

@media (max-width: 768px) {
  /* Show the toggle button on smaller screens */
  .side-toggle {
    display: block;
  }
}
