.award_cate_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  .award_content {
    display: flex;
    gap: 5px;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.mod_cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .mod_heading {
    display: flex;
    justify-content: center;
  }

  .award_form {
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .award_row {
      display: flex;
      gap: 10px;
      flex-direction: column;
      .award_label {
        display: flex;
        justify-content: space-between;
        .award_check {
          display: flex;
          gap: 5px;
          flex-direction: column;
          .check_date{
            display: flex;
            gap:10px;
          }
        }
      }
    }
  }

  .start_date_div {
    display: flex;
    justify-content: space-between;
}

  .award_btn {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }

  .award_modal_close {
    background: #c32728;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
  }
  
}

.table_div {
  display: flex;
  flex-direction: column;
  gap: 30px;
 
  .award_table_div {
    border: 0.5px solid #cccccc;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
    .award_table_search {
      border: 1px solid #e5e1e1;
      background-color: #ffffff;
      height: 40px;
      display: flex;
      gap: 15px;
      align-items: center;
      padding: 0 20px;
      border-radius: 8px;
      width: 25%;
      .award_table_icon {
        width: 3%;
        svg {
          color: #777777;
          width: 20px;
          height: 20px;
        }
      }

      .award_table_icon_content {
        width: 97%;
        cursor: pointer;
        input[type="text"] {
          width: 100%;
          border: none;
          font-family: poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          padding: 0 10px;
          border-radius: 40px;
          outline: none;
          color: #777777;
        }

        input[type="text"]::placeholder {
          color: #666666;
        }
      }
    }
    .award_filter_btn {
      display: flex;
      gap: 10px;
      .award_filter_icon {
        display: flex;
        gap: 5px;
        align-items: center;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .awardtable_div{
    height:200px;
    overflow: auto;
  }

  .award_table_btn {
    display: flex;
    gap: 20px;
  }
}

.error{
  color:#c32728;
  text-align: left;
}

@media (max-width: 567px) {
  .award_cate_div {
    margin-top: 0;
    .award_content {
    }
    .desc_div {
      p {
        font-size: 12px;
      }
    }
  }
  .mod_cont {
    gap: 20px;
    .award_form {
      padding: 0;
      .award_btn {
        button {
          font-size: 13px;
        }
      }
    }
  }

  .table_div {
    .awardtable_div {
      overflow-x: auto;
      width: 100%;
    }
  }

  .table_div .award_table_div {
    flex-direction: column;
    padding: 6px;
    .award_table_search {
      width: 100%;
    }
    .award_filter_btn {
      flex-wrap: wrap;
      button {
        flex: 1;
        font-size: 10px;
      }
      select {
        width: 50%;
        font-size: 10px;
      }
    }
  }
}

@media (min-width: 567px) and (max-width: 1024px) {
  .award_cate_div {
    margin-top: 0;

    .desc_div {
      p {
        font-size: 12px;
      }
    }
  }

  .mod_cont {
    gap: 20px;
    .award_form {
      padding: 0;
    }
  }

  .table_div {
    .award_table_div {
      flex-direction: column;
      padding: 6px;
    }
    .awardtable_div {
      overflow-x: auto;
      width: 100%;
    }
  }

  .table_div .award_table_div {
    .award_table_search {
      width: 100%;
   
    }
    .award_filter_btn {
      button {
        font-size: 10px;
      }
      select {
        font-size: 10px;
      }
    }

  }
}
