.reg_bg_color {
  background-image: radial-gradient(circle, #460000, #0c0000);
  padding: 20px;

  .logo_div {
    display: flex;
    justify-content: flex-start;
    img {
      width: 70px;
    }
  }
  .register_div {
    border-radius: 12px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 25px;
    }
    .form_div {
      width: 40%;
      background-color: white;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      .sub_reg_head {
        font-size: 25px;
      }
      .fields_div {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .label_div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .error {
            margin: 0;
            text-align: left;
            color: #c32728;
          }
        }
        .checkdiv {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        .already_account {
          display: flex;
          gap: 5px;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .reg_bg_color .register_div {
    gap: 0;
    h1 {
      line-height: 1.8;
      margin: 10px 0;
    }
  }

  .main_bg_color .logo_div img {
    width: 70px;
  }

  .reg_bg_color .register_div .form_div {
    width: 100%;
  }

  .reg_bg_color .register_div .form_div {
    h4 {
      line-height: unset;
    }

    .fields_div {
      width: 100%;
    }
  }

  .reg_bg_color .register_div .form_div .fields_div .already_account {
    flex-direction: column;
  }
}

@media (min-width: 567px) and (max-width: 1024px) {
  .reg_bg_color .register_div {
    gap: 10px;
    h1 {
      line-height: 1.8;
      margin: 10px 0;
    }
  }

  .reg_bg_color .register_div .form_div {
    width: 70%;
    .fields_div {
      width: 100%;
    }
  }
}
