.create_jury_group_data_div {
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
    .create_jury_group_data_white_bg{
      background-color:#fff;
      padding:20px;
      border-radius:12px;
      display:flex;
      flex-direction:column;
      gap:20px;
    }

    .shortlist_butt {
        display: flex;
        gap: 20px;
    }

    
    }